.list-box{
	&::v-deep {
		.uni-list-item__content-title {
			font-size: 32rpx !important;
		}
	
		.uni-list-item__content-note {
			font-size: 28rpx !important;
		}
	
		.uni-icons {
			font-size: 36rpx !important;
		}
		}
}